page-registro {

    ion-img {
        background-color: transparent;
        display: inherit;
    }
     ion-col{
        text-align: center;
        padding-bottom: 2% !important;
        padding-top: 2% !important;
     }

     ion-item{
         border-top: none !important;
     }
     .col{
        text-align: center; 
    }

}
