<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myRestaurante?.nombre}}</ion-title>
    <ion-buttons end>
      <button ion-button large (click)="openModalDetallePedido()">
        <ion-icon name="md-restaurant"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-img class="imgRest" src='{{myRestaurante?.fotoRestaurante}}'></ion-img>

    <platos-list [titulo]="entranteTitulo" [lista]="entranteList" *ngIf="entranteList?.length > 0"></platos-list>
    <platos-list [titulo]="primeroTitulo" [lista]="primeroList" *ngIf="primeroList?.length > 0"></platos-list>
    <platos-list [titulo]="segundoTitulo" [lista]="segundoList" *ngIf="segundoList?.length > 0"></platos-list>
    <platos-list [titulo]="postreTitulo" [lista]="postreList" *ngIf="postreList?.length > 0"></platos-list>
    <platos-list [titulo]="bebidaTitulo" [lista]="bebidaList" *ngIf="bebidaList?.length > 0"></platos-list>

</ion-content>
